.bender
*modelsim.ini
*transcript
*work
*py_env_noc
*src/fpga
vsim.wlf
scripts/compile_vsim.tcl
working_dir/*
compile.log
Bender.lock
.dvt
dvt_build.log
.vscode
verible*

# spyglass
scripts/spyglass/*

test/jobs
*.csv
**/*.log

# generate files
src/floo_axi_pkg.sv
src/floo_narrow_wide_pkg.sv
util/axi_cfg.hjson
src/fpga/soc_cfg_pkg.sv
src/fpga/richie_noc_ip.v
src/fpga/richie_noc_ooc.sv
src/richie_noc.sv
fpga/utils/vivado_ips/fpga_noc_params.tcl
fpga/utils/vivado_ips/create_noc_ip.tcl
fpga/utils/richie/synth_noc.tcl